*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    background-image: url("");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.logo{
    background-image: url("https://cdn0.iconfinder.com/data/icons/most-usable-logos/120/Amazon-512.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/** box2 ***/
.add-first{
    color: #cccccc;
   font-size: 0.85rem;
}

.add-second{
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}

/*** box 3 ****/
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;


}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: color #febd68;
}
.nav-search:hover {
    border: 2px solid orange;

}

/**** box 4 ****/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/****box6 ***/
.nav-cart i{
    font-size: 30px;


}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*** panael ***/

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.panel-ops p{
    display: inline;
    margin-left: 15px;

}
.panel-ops{
    width: 70px;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/****** hero section*********/

.hero-section{
    background-image: url("https://m.media-amazon.com/images/G/31/img21/Watches2024/Feb/Categorypage/Hero/PC/17._CB581348226_.jpg");
    background-size: cover;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 100%;
    margin-bottom: 25px;



}
.hero-msg a{
    color: skyblue;
}
.para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.hero-subject1{
    background-color: white;
    color: black;
    height: 40px;
   
}

.hero-sectiondup{
    background-image: url("https://m.media-amazon.com/images/G/31/IMG20/Home/2024/wiprostore/WL_Amazon_Banner_DecorativeLight_PC._CB579566932_.gif");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}
.hero-subject1{
    background: white;

}
.para1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}
.hero-subject{
    color: #007185;
     font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



/****Shop Section***/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
/*.box2{
    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}*/

.space{
    height: 100px;
    width: 100px;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-img{
    height: 350px;
    background-image: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;

}

.hero-sectiondup{
    background-image: url("https://m.media-amazon.com/images/G/31/img21/Watches2024/Feb/Categorypage/Hero/PC/14._CB581348226_.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-subject2{
    background: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

/***** Foooter ****/
footer{
    margin-top: 50px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}
.foot-panel2{
    background-color: #222f3d;
    font-size: 1rem;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5 solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;

}
.logo{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyYatJtTvTMbdQ7frtAlY4Pq_yEAJQbcEpzIEIdoMQaw&s");
    background-size: cover;
    height: 50px;
    width: 100px;

}
.foot-paenl4{
    background-color: #0f1111;
    color: white;
    display: flex;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
   /* justify-content: center;
    align-items: center;
    */
}
.pages{
    
    padding: 25px;
}
.copyright{
    padding-top: 5px;
   
}   

/*.foot-panel2{
    background-color: #37475a;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}*/
/*.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5 solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;

}*/

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.hero-subjectdup{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;


}
.shop-sectiondup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box1{
   
        height: 300px;
        width: 23%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
    }









